body {
  font-size: 13px;
  font-family: Arial
}

h1 {
  font-size: 30px;
  margin-bottom: 4px;
  font-family: Arial
}

h4 {
  margin-bottom: 5px;
  font-family: Arial
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}


td {
	padding-right: 15px;
}

.colored-title { 
  color:#0070c0;
}

.section {
  margin-bottom: 20px;
}

.timeline {
  color: grey;
}

.description-space {
	margin-top: 5px;
}

.company-title, .project-title, .degree-title {
  font-weight: bold;
}

.company-title, .job-title, .project-title, .project-type, .degree-title, .university-title{
  font-size: 15px;
  font-family: Arial
}

.dev-tools {
  font-style: italic;
}
